h1 {
    font-size: 100px;
    font-weight: 30;
    text-align: center;
    color: rgb(49, 149, 72);
    text-shadow:  
        0 0 20px black,  
        0 0 20px black,  
        0 0 30px black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(images/shenglong.jpg);
    background-size: cover; 
    background-position: 100%; 
    background-attachment: fixed;
    background-repeat: no-repeat; 
    height: 100vh; 
    margin: 0; 
    padding: 120px;
}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.row div{
    background-color: rgba(0, 0, 0, 0.308);
    border: 1px;
    justify-content: center;
    align-items: center;
    max-width: 1500px;
    margin: 0 auto;
}

.row div img{
    display: flex;
}

img {
    width: 250px;
    height: 250px;
    transition: transform 0.8s ease;
    transition: box-shadow 0.7s ease;
}

.row div:hover img {
    filter: drop-shadow(10px 10px 10px #000000);
    transform: scale(1.1);
    transition: 0.8s;
}

.row div h2{
    text-align: center;
    color: orange;
    transition: 0.6s;
    font-size: medium;
}

.row div:hover h2{
    transition: 0.6s;
    color: rgba(255, 166, 0, 0.507);
}

